/*Убираем все отступы, установленные браузером*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #621402;
    /*Подключение шрифта Roboto*/
    font-family: "Roboto", sans-serif;
    color: white;
}

.navbar {
    display: flex;
    /*Выравнивание элементов по центру поперечной оси*/
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar>a>img {
    margin-right: 30px;
}

.nav {
    /*Относительное позиционирование*/
    position: relative;
}

.header {
    padding-bottom: 60px;
    /*Установка заднего фона с градиентом*/
    background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%), url('../Img/bg.png') no-repeat center top / cover;
}

.container {
    max-width: 1170px;
    margin: auto;
    width: 90%;
}

.menu {
    /*Убираем у списка маркеры*/
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 17px;
}

/*Убранное меню для адаптива под меньшие устройства*/
.m-menu {
    display: none;
}

.menu-item {
    margin-right: 25px;
}

.menu-link {
    /*Убраем подчеркивание у ссылки*/
    text-decoration: none;
    color: white;
}

/*Аватарка пользователя*/
.avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}

.user {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.film {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.film-title-small {
    /*прозрачность*/
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%;
}

.film-title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}

.film-description {
    font-size: 16px;
    line-height: 150%;
    max-width: 560px;
}

.film-trailer {
    display: block;
    margin: auto;
    background: url("../Img/play-button.png");
    width: 100px;
    height: 100px;
    border: none;
    /*Смена курсора*/
    cursor: pointer;
}

/*Видео*/
.video-trailer {
    width: 500px;
    height: 300px;
    border: none;
    display: none;
}

.film-details {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.time {
    display: flex;
    align-items: center;
}

.time-icon {
    margin-right: 14px;
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}

.rating-current {
    font-size: 24px;
    line-height: 150%;
}

.rating-icon {
    margin-right: 14px;
}

.session {
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 62px;
    display: flex;
    /*Элементы равномерно распределены вдоль главной оси контейнера*/
    justify-content: space-between;
    align-items: flex-start;
}

.session-date-block {
    display: flex;
}

.session-date-item {
    cursor: pointer;
    display: flex;
    /*Элементы, находящиеся в нем, будут располагаться в столбик*/
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: backgroung-color 0.2s;
}

.session-label {
    margin-bottom: 20px;
    display: block;
}

.session-month {
    font-size: 16px;
    line-height: 19px;
}

.session-day {
    font-size: 30px;
    font-weight: 900;
    line-height: 35px;
}

.session-week {
    font-size: 19px;
    line-height: 22px;
}

/*Изменения будут происходить при наведении на элемент*/
.session-date-item:hover {
    background-color: #FE8E05;
    color: #621402;
}

.select {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: white;
    padding: 18px;
    cursor: pointer;
    margin-top: 15px;
}

/*Изменение цвета у выпадающего списка*/
option {
    background-color: #621402;
}

.select-cinema {
    width: 470px;
}

/* Третья часть*/
.scheme {
    background: rgba(36, 36, 36, 0.18);
    border-radius: 10px;
    margin-bottom: 40px;
}

.scheme-svg {
    max-width: 1170px;
}

/*Будет использоваться для всех, кроме класса light*/
.scheme path:not(.light) {
    fill:rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.scheme path:not(.light):hover {
    fill:rgba(255, 255, 255, 0.5);
}

/*Изменения для занятого места*/
.scheme path.booked, 
.scheme path.booked:hover {
    fill:rgba(255, 255, 255, 0.05);
    cursor: not-allowed;
}

/*Изменения для выбраного места*/
.scheme path.active, 
.scheme path.active:hover {
    fill: #FE8E05;
}

.legend {
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    max-width: 1024px;
    margin: auto;
    padding-top: 22px;
    padding-bottom: 38px;
}

.legend-label {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.legend svg {
    margin-right: 15px;
}

.price {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}

.price-tag {
    font-size: 52px;
    line-height: 61px;
}

.button {
    display: block;
    background-color: #FE8E05;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 24px 52px;
    text-decoration: none;
}

/*Fourth part*/
/*Измения для экрана размером меньше 1200px*/
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .select-cinema {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .session {
        /*Перенос элемента на другую строку*/
        flex-wrap: wrap;
    }
    .session-date {
        flex-basis: 70%;
        margin-bottom: 40px;
    }
    .session-time {
        /*Порядок отображения*/
        order: 2;
    }
    .session-cinema {
        order: 3;
    }
    .menu-item {
        margin-right: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .menu {
        position: absolute;
        left: 0;
        top: 40px;
        padding: 20px;
        margin-left: 20px;
        flex-direction: column;
        background-color: #621402;
        z-index: 9;
        border-radius: 10px;
        opacity: 0;
        /*Скрытие элемента*/
        visibility: hidden;
        /*Сдвиг элемента*/
        transform: translateY(20%);
        transition: opacity 0.5s, transform 0.5s;
    }
    .menu-item:not(:last-child) {
        margin-bottom: 10px;
    }
    .m-menu {
        display: block;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
    }
    .is-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .film-description {
        margin-right: 30px;
    }
    .film {
        flex-direction: column;
    }
    .film-trailer {
        margin-right: auto;
        margin-left: 0;
        margin-top: 40px;
    }
    .video-trailer {
        margin-top: 20px;
        width: 450px;
        height: 250px;
    }
    .legend-label {
        margin-left: 20px;  
    }
    .legend {
        padding-top: 15px;
        padding-bottom: 25px;
        align-items: center;
    }
    .legend-text {
        font-size: 12px;
    }
    .legend svg {
        width: 32px;
        height: 28px;
        margin-right: 10px;
    }
}

@media (max-width: 500px){
    .video-trailer {
        margin-top: 20px;
        width: 360px;
        height: 210px;
    }
}

@media (max-width: 460px) {
    .session-date-block {
        flex-wrap: wrap;
    }
    .session-date-item {
        margin: 5px;
    }
    .video-trailer {
        margin-top: 20px;
        width: 300px;
        height: 160px;
    }
}

@media (max-width: 355px) {
    .legend-label {
        margin-left: 15px;  
    }
    .legend {
        padding-top: 12px;
        padding-bottom: 22px;
        align-items: center;
    }
    .legend-text {
        font-size: 10px;
    }
    .legend svg {
        width: 28px;
        height: 26px;
        margin-right: 10px;
    }
    .button {
        font-size: 16px;
        line-height: 19px;
        padding: 10px 30px;
    }
    .price-label {
        display: block;
        font-size: 14px;
        line-height: 18px;
    }
    .price-tag {
        font-size: 42px;
        line-height: 52px;
    }
    .session-cinema>.session-label {
        margin-top: 15px;
    }

}

@media (max-width: 320px) {
    .legend-label {
        margin-left: 14px;  
    }
    .legend {
        padding-top: 12px;
        padding-bottom: 22px;
        align-items: center;
    }
    .legend-text {
        font-size: 10px;
    }
    .legend svg {
        width: 22px;
        height: 19px;
        margin-right: 8px;
    }
    .price-label {
        display: block;
        font-size: 12px;
        line-height: 16px;
    }
    .price-tag {
        font-size: 38px;
        line-height: 48px;
    }
    .button {
        font-size: 14px;
        line-height: 16px;
        padding: 18px 25px;
    }
    .video-trailer {
        margin-top: 20px;
        width: 250px;
        height: 128px;
    }
    .session-date-item {
        width: 75px;
        height: 75px;
    }
    .session-month {
    font-size: 13px;
    line-height: 16px;
    }

    .session-day {
        font-size: 25px;
        font-weight: 900;
        line-height: 30px;
    }

    .session-week {
        font-size: 16px;
        line-height: 20px;
    }
    .select-cinema {
        width: 230px;
    }
}